<!doctype html>

<html lang="en">
<head>
    {% csrf_token %} <!-- to fix this error Forbidden (CSRF cookie not set.): /bus/ajax/ -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bustimates - {% block title %}{% endblock %}</title>
    <meta name="application-name" content="Bustimates">
    <meta name="description" content="A Web Application Capable of predicting Dublin Bus journey times">
    <meta name ="keywords" content= "Bus, Dublin Bus, Dublin">
    <meta name="author" content="RC, AMcC, AH">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="/custom_icon.png"/>

    <!-- Bootstrap CSS and JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/808765887f.js" crossorigin="anonymous"></script>

    <!-- Load markerClusterer library -->
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'Bus/DBIcon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'Bus/logo.png' %}">


    {% load static %}
    <script src="{% static 'Bus/scripts.js' %}" ></script>

    {% block head %}
    {% endblock %}

</head>

<body>
    <!--Header-->
    <div class="container-fluid" id="header">
        <div class="row justify-content-center">
            <div class="col text-start">
                <button class="btn btn-secondary" data-bs-toggle="offcanvas" href="#sidebar" role="button" aria-controls="sidebar"><i class="fas fa-bars"></i></button>
            </div>
            <div class="col text-center">
                <h2>Bustimates
                <img src="{% static 'Bus/logo.png' %}" class="img-fluid"></h2>
            </div>
            <div class="col text-end">
                {% if user.is_authenticated %}
                <span><a class="btn btn-secondary" href="{% url 'logout' %}"><span class="d-none d-sm-block">{{request.user}} </span><i class="fas fa-sign-out-alt"></i></a></span>
                
                {% else %}
                <a class ="btn btn-secondary" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    
    <!--Sidebar-->
    <span class="navbar-toggler-icon"></span>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Navbar</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    
        <div class = "offcanvas-body px-0">
            <!-- Weather -->
            <!-- https://weatherwidget.io -->
            <a class="weatherwidget-io" href="https://forecast7.com/en/53d35n6d26/dublin/" data-label_1="DUBLIN" data-label_2="WEATHER" data-font="Ubuntu" data-icons="Climacons Animated" data-days="5" data-theme="weather_one" >DUBLIN WEATHER</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>

            <!--Navbar-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class= "nav-link hover-shadow" href="{% url 'index' %}"><i class="fas fa-map-marked-alt"></i> Map</a>
                </li>
                <li class="list-group-item">
                    <a class= "nav-link hover-shadow" href ="{% url 'favourites' %}"><i class="fas fa-star"></i> Favourites</a>
                </li>
                <li class="list-group-item">
                    <a class= "nav-link hover-shadow" href ="#"><i class="far fa-credit-card"></i> Leap card</a>
                </li>
                <li class="list-group-item">
                     <a class= "nav-link hover-shadow" href ="{% url 'twitter' %}"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter </a>
                </li>
                <li class="list-group-item">
                    <a class= "nav-link hover-shadow" href ="#"><i class="fas fa-cog"></i> Settings</a>
                </li>
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>