<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dublin Bus Application</title>
  <meta name="Dublin Bus Application" content="A Web Application Capable of predicting Dublin Bus journey times">
  <meta name="RC, AMcC, AH">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  {% load static %}
  <link href="{% static 'Bus/style.css' %}" rel="stylesheet">

</head>

<body>
  <!-- your content here... -->
  {% load static %}
  <script  src="{% static '/Bus/index.js' %}" ></script>
</body>
</html>
{% load static %}
