{% extends 'base.html' %}


{% block head %}
{% load static %}
<link href="{% static '/Bus/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- Map Div-->


<div class ="col-auto text-center">

</div>
<div class="container-fluid" id="map-planner-container">
 	<div class="row justify-content-center" id="map-row">
		<div class ="col-11 text-center">
			<div class="card">
				<div class="card-img-top" id="map"></div>

				<div class="card-body">
					<div class="row justify-content-center">
						<div class="col-sm-auto col-md-4" id="journey_planner">
							<h4>Journey planner</h4>
							<div class="input-group mb-3">
								<span class="input-group-text">A</span>
								<input id="inputOrigin" class="form-control" placeholder="Enter your start point" type="text" />
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text">B</span>
								<input id="inputDestin" class="form-control" placeholder="Enter your destination" type="text" />
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text"><i class="fas fa-hourglass-start"></i></span>
								<input type="datetime-local" class="form-control">
							</div>
	
							<button class="btn btn-secondary" id="resetJourneyPlanner" onclick="resetJourneyPlanner()">Reset</button>
						</div>
						<div class="col" id="route_suggestions">
							<p id="route_instructions"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

{% load static %}
<script src="{% static '/Bus/index.js' %}" ></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUnOAYJK7uiwm6gb13arHL97d_oZicwCo&callback=initMap&libraries=places&v=weekly" async defer></script>
<script>
	window.onpageshow = function () {
		addMarkers(JSON.parse('{{ bus_stops }}'.replace(/&quot;/g,'"')));
	};
</script>

{% endblock %}