{% extends 'base.html' %}

{% block title %} Journey Planner {% endblock %}

{% block head %}
{% load static %}
<link href="{% static '/Bus/index.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}

<div class="container-fluid">
 	<div class="row justify-content-center">
		<div class ="col-12 text-center">
			<!--Central Card-->
			<div id="central-card" class="card">
				<!--Map-->
				<div class="card-img-top" id="map"></div>

				<!--Body-->
				<div id="main-card" class="card-body">
					<div id="route-planner" class="row justify-content-center">
						<div class="col-12 col-md-4" id="journey_planner">
							<ul class="nav nav-tabs" id="journeyPlannerTabs" role="tablist">
								<li class="nav-item" role="presentation">
									<button id="locations-tab-btn" class="nav-link active"  data-bs-toggle="tab" data-bs-target="#locations-tab" type="button" role="tab" aria-controls="location" aria-selected="true"><i class="fas fa-globe-americas"></i> Locations</button>
								</li>
								<li class="nav-item" role="presentation">
								  	<button id="stops-tab-btn" class="nav-link"  data-bs-toggle="tab" data-bs-target="#stops-tab" type="button" role="tab" aria-controls="stop" aria-selected="false"><i class="fas fa-map-pin"></i> Stops</button>
								</li>
							</ul>
							<div class="tab-content">
								<!-- Google Locations Tab -->
								<div class="tab-pane fade show active" id="locations-tab" role="tabpanel">
									<!--Start Point -->
									<div class="input-group my-3">
										<span class="input-group-text">A</span>
										<input id="inputOrigin" class="form-control" placeholder="Enter your start point" type="text" />
										<button id ="currentLocationButton" class="btn btn-secondary" onclick="toggleCurrentLocation()"><i class="fas fa-male"></i></button>
									</div>

									<!-- End Point -->
									<div class="input-group my-3">
										<span class="input-group-text">B</span>
										<input id="inputDestin" class="form-control" placeholder="Enter your destination" type="text" />
									</div>
								</div>

								<!-- Bus Stops Tab-->
								<div class="tab-pane fade" id="stops-tab" role="tabpanel">
									<!--Starting Stop -->
									<div class="input-group my-3">
										<span class="input-group-text">A</span>
										<input id="inputFirstStop" class="form-control" placeholder="First Stop" list = "stopOptions" type="text" />
									</div>

									<!-- End Stop -->
									<div class="input-group my-3">
										<span class="input-group-text">B</span>
										<input id="inputLastStop" class="form-control" placeholder="Last Stop" list = "stopOptions" type="text" />
									</div>
									<datalist id="stopOptions"></datalist>
								</div>
							</div>

							<!-- Start Time -->
							<div class="input-group my-3">
								<span class="input-group-text"><i class="fas fa-hourglass-start"></i></span>
								<input type="datetime-local" class="form-control" id="time-dropdown">
							</div>

							<!-- Fare Calculator -->
							<div class="card" id="fare_suggestions" style="display: none;">
								<h4 class="card-header">Fare Calculator 
									<a id="info" tabindex="0" class="fa fa-info-circle fa-xs" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Disclaimer" data-bs-content="This fare calculator is just an estimation and may not represent true costs. Children under 5 travel free." data-bs-placement="bottom"></a>
								</h4>

								<div class="card-body">
									<div class= "input-group mb-3">
										<h5>Age:</h5>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="age" id="age-adult" value="adult" checked>
											<label class="form-check-label" for="age-adult">Adult/Student</label>
										</div>
	
										<div class="form-check">
											<input class="form-check-input" type="radio" name="age" id="age-child" value="child">
											<label class="form-check-label" for="age-child">5-16 OR 5-19 (Leap Card)</label>
										</div>
									</div>
	
									<div class= "input-group mb-3">
										<h5>Leap Card:</h5>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="payment" id="payment-leapCard" value="leapCard" checked>
											<label class="form-check-label" for="payment-leapCard">Yes</label>
										</div>
	
										<div class="form-check">
											<input class="form-check-input" type="radio" name="payment" id="payment-cash" value="cash">
											<label class="form-check-label" for="payment-cash">No</label>
										</div>

										<button id="showFare" class="btn btn-secondary" onclick="submitRoute()">Get fare</button>
									</div>
								</div>
							</div>
							<!-- Buttons -->
							<div class= "btn-group my-3">
								<button id="swapButton" class="btn btn-secondary" onclick="swapInputs()" data-bs-toggle="tooltip" data-bs-placement="bottom" title data-bs-original-title="Swap Inputs"><i class="fas fa-exchange-alt"></i></button>
								{% if user.is_authenticated %}
								<button id="favouriteButton" class="btn btn-secondary" onclick="toggleFavourite()" data-bs-toggle="tooltip" data-bs-placement="bottom" title data-bs-original-title="Favourite"><i class="fas fa-star"></i></button>
								{% endif %}
								<button id="fareCalculator" class="btn btn-secondary" onclick="displayFareButtons()" data-bs-toggle="tooltip" data-bs-placement="bottom" title data-bs-original-title="Fare Calculator"><i class="fa fa-euro"></i></button>


								<button class="btn btn-success" id="submitJourneyPlanner" onclick="submitRoute()">Submit</button>
								<button class="btn btn-danger" id="resetJourneyPlanner" onclick="resetJourneyPlanner()">Reset</button>
							</div>

							<div id="warning" class="alert alert-warning" role="alert"></div>

						</div>
						<!--<div class="col-12 col-md-8 d-flex justify-content-center align-items-center" id="loader"><i class="fas fa-circle-notch fa-spin fa-3x"></i>-->
						<div class="col-12 col-md-8" id="route_suggestions"> </div>
						</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% load static %}
<script src="{% static '/Bus/index.js' %}" ></script>


<script>
	//Process bus stops
	var stops = JSON.parse('{{ bus_stops }}'.replaceAll(/&quot;/g,'"'));

	//Process Favourite list
	var favourites = JSON.parse('{{ favourites }}'.replaceAll(/&quot;/g,'"'));
	for(var i = 0; i < favourites.length; i++){
		x = favourites[i]['fields']
		x['id'] = favourites[i]['pk']
		favourites[i] = x;
	}

	//get urls:
	var create_favourite_URL = "{% url 'addFavourite' %}";
	var remove_favourite_URL = "{% url 'removeFavourite' %}";
	var query_model_URL = "{% url 'model' %}";
	{% if user.is_authenticated %}
	current_user = {{ request.user.id }};
	{% endif %}


	//get data list
	var stopOptions = document.getElementById("stopOptions");

	//add bus-stops to the autocomplete input
	stops.forEach(function(stop){
		var option = document.createElement('option');
		option.value = stop['fields']['stop_name'].replaceAll("&#x27;","'");
		stopOptions.appendChild(option);
	});
	
	//set max value for datetime-local input
	document.getElementById("time-dropdown").setAttribute("max", formatTime(new Date({{ last_time }} * 1000)));
</script>

{% if journey %}
{% if journey.stops == 1 %}
<script>
	changeTabs('stops-tab');
	inputFirstStop.value = '{{ journey.origin_name }}'.replaceAll("&#x27;","'");
	inputLastStop.value = '{{ journey.destin_name }}'.replaceAll("&#x27;","'");
	checkFavourite()
</script>
{% else %}
<script>

	function loadFavourite() {
		inputOrigin.value = '{{ journey.origin_name }}'.replaceAll("&#x27;","'");
		inputDestination.value = '{{ journey.destin_name }}'.replaceAll("&#x27;","'");
		var originLatLon = {
			lat: {{ journey.origin_lat }},
			lng: {{ journey.origin_lon }},
		}
		var destinLatLon = {
			lat: {{ journey.destin_lat }},
			lng: {{ journey.destin_lon }},
		}
		geocoder.geocode({ location: originLatLon }, (results, status) => {
			if (status === "OK") {
				autocompleteOrigin.set("place", results[0])
				geocoder.geocode({ location: destinLatLon }, (results, status) => {
					if (status === "OK") {
						autocompleteDestin.set("place", results[0])
						favourites.forEach(fav => {
							if (fav.id == {{ journey.pk }}) {
								var destination = autocompleteDestin.getPlace();
        						var origin = autocompleteOrigin.getPlace();
								fav.origin_lat = origin.geometry.location.lat();
								fav.origin_lon = origin.geometry.location.lng();
								fav.destin_lat = destination.geometry.location.lat();
								fav.destin_lon = destination.geometry.location.lng();
							}
						});
						checkFavourite()
					}
				})
			}
		})
	}
</script>
{% endif %}
{% endif %}
<script src="https://maps.googleapis.com/maps/api/js?key={{MAP_API_KEY}}&callback=initMap&libraries=places&v=weekly" async defer></script>
<script>
	//Add Stop Markers
	window.onpageshow = function () {
		addMarkers(stops);
	};
</script>


{% endblock %}