<div class="col-3" id="journey_planner">
<p>Journey planner</p>
    <p class="journey_planner_subheader">
        <input id="inputOrigin" placeholder="Enter your start point" type="text" />
    </p>

    <p class="route_planner_subheader">
        <input id="inputDestin" placeholder="Enter your destination" type="text" />
    </p>

    <div class="row" id="route_suggestions">
        <p id="route_instructions"></p>
    </div>

    <button id="resetJourneyPlanner" onclick="resetJourneyPlanner()">Reset</button>

</div>