<div class="container-fluid" id="header">
    <div class="row justify-content-center">
        <div class="col text-start">
            <button class="btn btn-secondary" data-bs-toggle="offcanvas" href="#sidebar" role="button" aria-controls="sidebar"><i class="fas fa-bars"></i></button>
        </div>
        <div class="col text-center">
            <h1>Dublin Bus</h1>
        </div>
        <div class="col text-end">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</div>





<span class="navbar-toggler-icon"></span>
<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Navbar</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class = "offcanvas-body px-0">
        <nav class = "nav flex-column">
            <a class= "nav-link hover-shadow" href="#"><i class="fas fa-map-marked-alt"></i> Map</a>
            <a class= "nav-link hover-shadow" href ="#"><i class="fas fa-star"></i> Favourites</a>
            <a class= "nav-link hover-shadow" href ="#"><i class="far fa-credit-card"></i> Leap card</a>
            <a class= "nav-link hover-shadow" href ="#"><i class="fas fa-cog"></i> Settings</a>
        </nav>
    </div>
</div>