{% extends 'base.html' %}

{% block title %} Twitter-Feed {% endblock %}

{% block head %}
{% load static %}
<link href="{% static '/Bus/twitter-feed.css' %}" rel="stylesheet">
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}



{% block content %}

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class ="col-auto text-center">
			<div class="card">
				<h3 class="card-header"><i class="fa fa-twitter-square" aria-hidden="true"></i> Dublin Bus News</h3>
				<div class = "card-body">
                    <a href="https://twitter.com/intent/tweet?button_hashtag=dublinbusnews&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #dublinbusnews</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <a href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Etfw" class="twitter-follow-button">Follow @dublinbusnews</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                	<a class="twitter-timeline" data-width="100%" data-theme="light" href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Etfw">Tweets by dublinbusnews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}