html,body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background-color: #353935;
    /*background-color: #05386B;*/
    font-family: 'Raleway', sans-serif;
 
}


#central-card{
    background-color: #05386B;
}

#header {
    background-color: #FFAE42;
    width: 100%;
}

.offcanvas-header {
    background-color: #FFAE42;
}

.offcanvas-body {
    background-color: #05386B;
}


#navbar .list-group-item{
    background-color: #05386B;
}

#navbar a{
    color: white;
}

#navbar a:hover{
    color: lightgray;
}