#map {
    position: relative;
    height: 50vh;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    object-fit: cover;

}

#user {
    font-size: 14px;
}

#info_window {
    color: #05386B;
}

#fare_suggestions {
    color: white;
}

#journey_planner {
    padding: 5px;
}

.small-route-suggestions {
    font-size: 12px;
}

#route_suggestions {
    padding: 10px;
    color: white;
    text-align: left;
}



.fa-walking, .fa-info-circle, .fa-bus-alt{
    color: #FFAE42;
}

.divider {
    border: 3px solid white;
}


.content-row{
    height: 300px;
}

/*
#map-planner-container{
    width: 100%;
}*/

#journeyPlannerTabs .nav-link {
    color: white;
}
#journeyPlannerTabs .active {
    color: #353935;
}



