#map {
    position: relative;
    height: 50vh;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    object-fit: cover;

}

#user {
    font-size: 14px;
}

#info_window {
    color: #05386B;
}

#journey_planner {
    padding: 5px;
}

.small-route-suggestions {
    font-size: 12px;
}

#route_suggestions {
    padding: 10px;
    text-align: left;
}



.fa-walking, .fa-info-circle, .fa-bus-alt{
    color: #FFAE42;
}

.divider {
    border: 3px solid white;
}


.content-row{
    height: 300px;
}

#journeyPlannerTabs .nav-link {
    color: white;
}
#journeyPlannerTabs .active {
    /*color: #353935;*/
    color: #313638;
}

#warning {
    background-color: #FFAE42;
    border: none;
    display: none;
    font-weight: bold;
    color: black;
}

#fare_suggestions {
    background-color: #FFAE42;
    border-radius: 25px;
    color: black;
    padding: 20px;
}

.input-group.mb-3 {
     display: inline-block;
     text-align:left;
}