#map {
    position: relative;
    height: 50vh;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    object-fit: cover;
}

.fa-bus-alt{
    color:#05386B;
 }

.fa-walking{
    color:#05386B;
}


.content-row{
    height: 300px;
}

html,body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

