{% extends 'base.html' %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
       <div class ="col-auto text-center">
            <div class="card">
                <h3 class="card-header">Favourites for {{ request.user }}</h3>
                <ul class="list-group list-group-flush">
                    {% for route in favourites %}
                    <li id='{{ route.id }}' class="list-group-item">
                        <h4>{{ route.favourite_name }}</h4>
                        <p>{{ route.origin_name }} --> {{ route.destin_name}}</p>
                            <form method="POST", action="{% url 'index' %}">
                                {% csrf_token %}
                                <button type="submit" name="favourite_id" value="{{ route.id }}" class="btn btn-success" ><i class="fas fa-walking"></i></button>
                                <button type="button" class="btn btn-danger" onclick="removeFavourite({{ route.id }})"><i class="far fa-trash-alt"></i></button>
                            </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</div>


<script>
    function removeFavourite(favourite_id){
        var data = {
            id : favourite_id
        }
        postData('{% url "removeFavourite" %}', data)
        //if successful remove
        document.getElementById(favourite_id).remove()
    }
</script>
{% endblock %}