{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block head%}
{% load static %}
<link href="{% static '/users/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class ="col-auto text-center">
        <div id='central-card' class="card">
            <h4 class="card-header">Login</h4>
            <div class="card-body">
                <form method="POST" action="" id="loginForm" class="form-signin">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" name="username" class="form-control" value="" placeholder="Username" required autofocus>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        <input type="password" name="password" class="form-control" value="" placeholder="Password">
                    </div>
                </form>
                <button type="submit" form="loginForm" class="btn btn-success">Submit</button>
                <div class="login-info-box">
                    <p>Don't have an account? Create one <a href="{% url 'register' %}">here</a></p>
                    {% for message in messages %}
                    <div id="messagebox" class="card">
                        <div  id="messages" class="card-body">{{message}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}