{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block head%}
{% load static %}
<link href="{% static '/users/users.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class ="row justify-content-center">

    <div class ="col-auto text-center" id="formContainer">
        <div class="card">
            <h4 class="card-header">Create an Account</h4>
            
            <div class="card-body">
                <form method="POST" action="" id= "registerForm">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        {{form.username}}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        {{form.email}}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        {{form.password1}}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        {{form.password2}}
                    </div>
                </form>
                <button type="submit" form="registerForm" class="btn btn-primary">Create User</button>
                {{ form.errors }}
                <p>Already have an account? Sign in <a href="{% url 'login' %}">here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}