{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block head%}
{% load static %}
<link href="{% static '/users/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class ="row justify-content-center">
        <div class ="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 text-center" id="formContainer">
            <div id="central-card" class="card">
                <h4 class="card-header">Create an Account</h4>
            
                <div class="card-body">
                    <form method="POST" action="" id= "registerForm">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                            {{form.username}}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            {{form.email}}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                            {{form.password1}}
                            <span id="passwordRulesButton" class="btn btn-secondary" tabindex="0" data-bs-trigger="focus" data-bs-toggle="popover" data-bs-html="true" data-bs-content="<ul id='PasswordRules'><li>Must contain at least 8 characters</li><li>Cannot be entirely numeric</li><li>Cannot be similar to other info</li><li>Cannot be a common password</li></ul>"><i class="fas fa-question"></i></span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                            {{form.password2}}
                        </div>
                    </form>
                    <button id="submitButton" type="submit" form="registerForm" class="btn btn-success mb-3">Create Account</button>
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="errorBox alert alert-warning mb-3">{{message}}</div>
                    {% elif message.tags == 'success' %}
                    <div class="successBox alert alert-success mb-3">{{message}}</div>
                    {% endif %}
                    {% endfor %}
                    <p>Already have an account? Sign in <a id="link" href="{% url 'login' %}">here</a></p>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}